body {
    font-family: Arial;
    font-size: 15px;
    background-color:#f2f2f2;
}

#Login_Div {
    margin: 0 auto;
    margin-top: 150px;
    max-width: 350px;
    height: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border: solid 1px rgb(155, 155, 155);
}

#Image_Logo {
    width: 250px;
    height: 125px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#Login_Div form {
    margin-top: 10px;
    position: absolute;
    top: 275px;
}

#Username_Input {
    width: 250px;
    height: 40px;
    margin: 0px;
    border-style: none;
    margin-top: 20px;
    padding-left: 10px;
    border: solid 1px rgb(155, 155, 155);
    font-size: 15px;
    background-color: #fafafa;
    border-radius: 8px;
}

#Password_Input {
    width: 250px;
    height: 40px;
    margin: 0px;
    border-style: none;
    margin-top: 20px;
    padding-left: 10px;
    border: solid 1px rgb(155, 155, 155);
    font-size: 15px;
    background-color: #fafafa;
    border-radius: 8px;
}

#Login_Button {
    width: 250px;
    margin: 0px;
    margin-top: 20px;
    height: 40px;
    border: none;
    border: solid 1px rgb(155, 155, 155);
    background-color: #3897f0;
    font-size: 18px;
    color: #ffffff;
    border-radius: 8px;
}

#Sign_In_Div {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 350px;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 23px;
    padding-left: 0px;
    padding-right: 0px;
    border: solid 1px rgb(155, 155, 155);
}

#Sign_Up_Div {
    margin: 0 auto;
    margin-top: 125px;
    max-width: 650px;
    height: 575px;
    background-color: #ffffff;
    display: block;
    justify-content: center;
    text-align: center;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    border: solid 1px #000000;
}

#Sign_Up_Div form{
    float: right;
}

.Sign_Up_Input {
    width: 250px;
    height: 40px;
    margin: 0px;
    border-style: none;
    margin-top: 15px;
    padding: 9px 0 7px 8px;
    border: solid 1px rgb(155, 155, 155);
    background-color: #fafafa;
    border-radius: 8px;
}

.Sign_Up_Input_Req {
    width: 250px;
    height: 40px;
    margin: 0px;
    border-style: none;
    margin-top: 15px;
    padding: 9px 0 7px 8px;
    border: solid 1px rgb(199, 0, 0);
    background-color: #fafafa;
    border-radius: 8px;
}

#Image_Logo_SignUpPage {
    width: 250px;
    height: 125px;
    margin-left: 35px;
    margin-right: 35px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#Disclaimer_SignUp {
    margin: 0px;
    font-size: 15px;
}

#Welcome_Message {
    margin: auto;
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
    font-family: arial;
}

#Sidebar_Homepage {
    height: 100%;
    width: 300px;
    background-color: #353535;
    position: absolute;
    left: 0px;
    top: 0px;  
}

#Sidebar_Homepage h2{
    margin: 0px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
}

#MediaSocial_Picture {
    width: 90%;
    margin-left: 10px;
}

#Profile_Picture{
    filter: invert(1);
    height: 50px;
    width: 50px;
    margin: 0px 50px 20px 40px;
    float: right;
}

#Logout_Button_Homepage {
    width: 266px;
    height: 30px;
    border: solid #353535 2px;
    background-color: #f2f2f2;
    text-align: center;
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding-top: 10px;
}

#Logout_Button_Homepage a{
    text-decoration: none;
    color: #000000;
}